/nbproject/
/.idea/*
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
node_modules/
vendor/
venv/
.venv/
env/
__pycache__/
*.pyc
*.egg-info/
.tox/
.bundle/
Pods/
.gradle/
.terraform/
bower_components/
.cache/
coverage/
